<!DOCTYPE html>
{% load static %} <!-- 修改为这一行 -->
<html>
<head>
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong>
    </div>
    <div>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                   <!--之前是这个 <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a> -->
                    <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    <div>
                <!-- 使用模板标签生成相对URL链接 -->
        <a href="{% url 'rango:about' %}">About Rango</a><br />
        <!-- 使用模板标签生成相对URL链接 -->
        <a href="{% url 'rango:add_category' %}">Add a New Category</a><br />
        <img src="{% static "images/potato.jpg" %}"
            alt="Picture of Potato" />
    </div>
</body>
</html>
